@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&display=swap');

.seventh {
    height:90vh;
    background-color: rgb(46, 44, 44); 
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
#leaves3{
    width: 100%;
    height: 120vh;
    position: absolute;
    top:-3em;
}
.title {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20vh;
    padding-bottom: 6vh;
    font-size: 2em;
    font-weight: bold ;
    
}

.under-title{
    font-family: 'Open Sans', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    font-size: 1.2em;
    width: 85%;
    
}
.input-holder {
    align-items: center;

}

.input-holder input{
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    padding: 1em 2em;
    width:50%;
    border: none;
}

.subscribe {
    background-color: rgba(84, 82, 79,1);
    color: white;
    font-weight: 700;
    padding: 1em 2em;
    border-radius: 3em;
    right: 6em;
    width: 20%;
    position: relative;
}

@media (max-width: 992px){
    .seventh {
        width: 100%;
        height: 70vh;
    }
    #leaves3{
        height: 95vh;
        width: 100%;
    }

    .title{
        font-size: 3em;
    }

    .under-title{
        font-size: 1em;
    }

}
@media (max-width: 786px){
    .seventh{
        width: 100%;
        height: 60vh;
    }
    #leaves3{
        width: 100%;
        height: 80vh;
    }
    .title{
        padding: 1em 0.5em 1em 0.5em;
    }
    .under-title{
        font-size: 0.8em;
        font-family: 'Open Sans', sans-serif;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1.5em;
        width: 85%;
    }
    .input-holder{
        display: flex;
    }
    .input-holder input{
        width: 80%;

    }
    .subscribe {
        background-color: rgba(84, 82, 79,1);
        color: white;
        padding: 1em 2em;
        border-radius: 3em;
        right: 3em;
        width: 40%;

    }
}